<div class="row">
	<div class="col-md-12">
		<% if @transaction.errors.any? %>
			<div id="error_explanation">
		    	<h3><%= pluralize(@transaction.errors.count, "error") %> prohibited this new transaction from being saved:</h3>
			    <ul>
			      <% @tran.errors.full_messages.each do |message| %>
			        <li><%= message %></li>
			      <% end %>
			    </ul>
			</div>
		<% end %>
	</div>
</div>


<div class="row">
	<div class="col-md-6">
		<%#= form_for @transaction, html: {multipart: true} do |f| %>
		<%= form_for @transaction do |f| %>
			<div><%= f.label :tdate, "Date"%>
			<%= f.text_field :tdate %></div>

			<div><%= f.label :vendor, "Vendor Name" %>
			<%= collection_select(:transaction, :vendor_id, Vendor.all, :id, :name, include_blank: true) %>
			<%= link_to 'Add new vendor', new_vendor_path %></div>

			<div><%= f.label :expense, "Expense Account" %>
			<%= collection_select(:transaction, :expense_id, Expense.all, :id, :name, include_blank: true) %></div>

			<div><%= f.label :exp_group, "Expense Category" %>
			<%= collection_select(:transaction, :exp_group_id, ExpGroup.all, :id, :name, include_blank: true) %></div>

			<div><%= f.label :desc, 'Transaction Description' %>
			<%= f.text_field :desc %></div>

			<div><%= f.label :amt, "Amount" %>
			<%= f.text_field :amt %></div>

			<div><%#= f.label_tag :taxable_flag, "Check if taxable" %>
			<%#= f.check_box_tag :taxable_flag  %></div>

			<div>
				<table>
					<br>
					<tr><%= f.file_field :photo_receipt %></tr>
					<tr><%= f.label :photo_receipt, "Receipt Image (png, jpg, gif, tiff)" %></tr>
				</table>
			</div>
			<br>
			<div><%= f.submit %></div>

		<% end %>
	</div>
	<div class="col-md-6">
		<p>Receipt</p>
		<%= image_tag @transaction.photo_receipt.url(:medium)%>
	</div>
</div>
<!-- <table>
	<tr><u>Additional Actions</u></tr>
		<ul>
			<li><%= link_to 'Return to Transactions', transactions_path %></li>	<li><%= link_to 'Expense Items', expenses_path %></li>
			<li><%= link_to 'Expense Groups', exp_groups_path %></li>
			<li><%= link_to 'Vendors', vendors_path %></li>
		</ul>
</table>
 -->