
<div class="row">
	<div class="col-md-12">
		<h1>Transaction Detail</h1>

		<% if @transaction.errors.any? %>
			<div id="error_explanation">
		    	<h3><%= pluralize(@character.errors.count, "error") %> prohibited this new transaction from being saved:</h3>
			      <ul>
			      	<% @transaction.errors.full_messages.each do |message| %>
			        	<li><%= message %></li>
			      	<% end %>
			      </ul>
			</div>
		<% end %>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<table>
			<tr>
				<td>Date: <%= @transaction.tdate %></td>
			</tr>
			<tr>
				<td>Vendor: <%= @transaction.vendor.name %></td>
			</tr>
			<tr>
				<td>Expense Group: <%= @transaction.exp_group.name %></td>
			</tr>
			<tr>
				<td>Expense Account: <%= @transaction.expense.name %></td>
			</tr>
			<tr>
				<td>Description: <%= @transaction.desc %></td>
			</tr>
			<tr>
				<td>Amount: <%= number_to_currency(@transaction.amt) %></td>
			</tr>
			<tr>
				<%# if taxable_flag %>
				<td>Taxable: <%#= @transaction.taxable_flag %></td>
				<%# end %>
			</tr>
		</table>
	</div>
	<div class="col-md-6">
		<p>Receipt</p>
		<%= image_tag @transaction.photo_receipt.url(:medium)%>
	</div>
</div>

<%# if current_user %>
<table>
	<tr><u>Additional Actions</u></tr>
		<ul>
			<li><%= link_to 'Edit Transaction', edit_transaction_path(@transaction) %></li>
<!-- 			<li><%#= link_to 'Expense Items', expenses_path %></li>
			<li><%#= link_to 'Expense Groups', exp_groups_path %></li>
			<li><%#= link_to 'Vendors', vendors_path %></li>
 -->		</ul>
</table> 
	<%# end  %>