<!DOCTYPE html>
<html>
<head>
  <title>ExpenseTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/shared/navbar'  %>

	<div class="container">
		<!-- Allocate space for error handling and define message-->
		<% flash.each do |name, msg| %>
		    <div class="alert alert-<%= name.to_sym == :notice ? 'success' : 'danger' %>">
				<%= msg %>
			</div>
		<% end %>
		<!-- end error handling-->

		<%= yield %>
	</div>
</body>
</html>
